@use "../global/" as *;
@use "../foundation/" as *;

// Mixins
@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Hero Section
.hero-section {
  @include center-flex;
  flex-direction: column;
  background: linear-gradient(
    to bottom right,
    $primary-color,
    $secondary-color
  );
  padding: 4rem 1rem;
  height: 100vh;
}
